{% extends 'layout.html' %}

{% block title %}
선택하세요
{% endblock %}


{% block main %}
<form method='POST'>
<div class="button-container">
    <button xhref="" class=button name="poll" value="o"></button>
    <button xhref="" class=button name="poll" value="x"></button>
</div>
</form>
{% endblock %}

<!--
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" href="styles/inline.css">
</head>
<body>
<header class="header">
    <h1 class="header__title">선택하세요</h1>
    <button id="xbutRefresh" class="headerButton" aria-label="Refresh">R</button>
    <button id="xbutAdd" class="headerButton" aria-label="Add">A</button>
</header>
<main class="main">
</main>
</body>
</html>
-->
